/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap'); */

@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  --color-light: #806699;
  --color-primary: #6451AB;
  --color-darker: #130C1E;

  --animate-floating: floating 3s ease-in-out infinite;

  --animate-delay-floating: delay-floating 4s ease-in-out infinite;

  @keyframes floating {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes delay-floating {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

@layer base {
  /* html {
    font-family: 'Montserrat', sans-serif;
  } */

  button {
    @apply cursor-pointer;
  }

  ::-webkit-scrollbar {
    @apply w-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#6451AB];
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}

@layer components {
  /* .section {
    @apply w-full h-dvh snap-center flex items-center px-8;
  } */

  .section {
    @apply w-full h-dvh snap-center flex items-center px-8;
  }
}